* {
  margin: 0;
  color: #333;
  background-color: #faf9f7;
}
.navbar {
  padding: 20px;
  display: flex;
  align-items: center;
  margin: 0% auto;
}
.navbar h1 {
  color: rgb(144, 153, 154);
}
.navbar ul {
  list-style-type: none;
  margin-left: 28px;
  text-decoration: none;
  padding: 6px;
  display: flex;
}
.navbar li {
  margin: 10px;
}
.navbar ul li a {
  text-decoration: none;
}
.contact-tab {
  margin-right: 35px;
  padding: 10px;
}
.contact-section {
  background-color: cadetblue;
}
.contact-section h2 {
  background-color: cadetblue;
}
.form {
  margin: 10px;
  padding: 5px;
  padding-right: 22px;
  background-color: cadetblue;
}